<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JspBasic_0506_0509</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>


	<!--http 응답 상태  코드에 따른  예외 처리 :
	프로젝트의 위치에 관계 없이 , 404 에러코드가 뜨면 처리  
	::n개 작성가능  -->  
	<error-page>
	<error-code>404</error-code>
	<location>/Exception/error_404_7_0512.jsp</location>
	</error-page>  	
  
  <!--자바 예외 타입에 따른 처리:
	프로젝트의 위치에 관계 없이 , NullPointerException에러 뜨면  처리    	
   -->
  <error-page>
  <exception-type>java.lang.NullPointerException</exception-type>
  <location>/Exception/error_null_9_0512.jsp</location>
  </error-page>
  
  
  
  
  
  
  
  
  
  
  
  
</web-app>